<div class="extrapad">
  <div class="panel-body">
    <h1 class="review_title"><%= @movie.title %></h1>
    <div class="row">
      <div class="col-md-4">
        <p id="notice"><%= notice %></p>
        <p>
          <%= image_tag @movie.image %>
        </p>

        <p>
          <strong>Overview:</strong>
          <%= @movie.overview %>
        </p>

        <p>
          <strong>Budget:</strong>
          <%= @movie.budget %>
        </p>

        <p>
          <strong>Revenue:</strong>
          <%= @movie.revenue %>
        </p>

        <p>
          <strong>Runtime:</strong>
          <%= @movie.runtime %>
        </p>
        
      </div>
      <div class="col-md-7 col-md-offset-1">
                
                <% if @reviews.blank? %>
                  <h3>No reviews just yet, would you like to add the first!</h3>
                <% else %>
                <h2>Reviews</h2>
                  <% @reviews.each do |review| %>
                    <div class="reviews">
                      <p>Rating: <%= review.rating %></p>
                      <p><%= review.comment %></p>
                      <p>Review by: <%= User.find(review.user_id).email %></p>
                    </div>
                  <% end %>
                <% end %>
                <%= link_to "Write Review", new_movie_review_path(@movie), class: "btn btn-danger" %>
      </div>
    </div>
  </div>
</div>



<%= link_to "Write a Review |", new_movie_review_path(@movie) %>
<%= link_to 'Edit', edit_movie_path(@movie) %> |
<%= link_to 'Back', movies_path %>
