<nav class="navbar navbar-expand-lg navbar-light bg-light">
	<ul class="nav justify-content-end">
	  <li class="nav-item">
	    <%= link_to "In the Know Movie Reviews", root_path, class: "navbar-brand" %>
	  </li>
	  <% if user_signed_in? %>
	  <li class="nav-item">
	    <%= link_to "New Movie", new_movie_path, class: "navbar-brand extrapad" %>
	  </li>
	  <li class="nav-item">
	    <%= link_to "Edit Account", edit_user_registration_path, class: "navbar-brand extrapad" %>
	  </li>
	   <% else %>
	  <li class="nav-item">
	    <%= link_to "Sign Up", new_user_registration_path, class: "navbar-brand extrapad"  %>
	  </li>
	  	  <li class="nav-item">
	    <%= link_to "Sign In", new_user_session_path, class: "navbar-brand extrapad"  %>
	  </li>
	  <% end %>
	</ul>
<!-- 		<form class="form-inline my-2 my-lg-0 navbar-form navbar-right">
	      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
	      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
	    </form> -->
</nav>